version: '3.8'

services:
  api:
    build: .
    container_name: receipt_processor
    # for reloading during development
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    environment:
      - ENVIRONMENT=development